# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# No versionar datos ni modelos en Git
data/*
artifacts/*
models/*

# Mantener estructura
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep
!artifacts/.gitkeep
!models/.gitkeep