# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Ignorar artifacts por defecto...
artifacts/*

# ...pero permitir métricas y reportes (livianos)
!artifacts/.gitkeep
!artifacts/ingest_summary.json
!artifacts/validation_report.json
!artifacts/metrics.json
!artifacts/classification_report.json
!artifacts/eval_metrics.json
!artifacts/confusion_matrix.png

# Mantener estructura data
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep

# Mantener estructura models
!models/.gitkeep